<!-- About Me Subpage -->
<section data-id="about-me" class="animated-section">
    <div class="section-content">
        <div class="page-title">
            <h2>About
                <span>Me</span>
            </h2>
        </div>

        <!-- Personal Information -->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <p>안녕하세요, 어제보다 오늘 더 성장하는 개발자 김지니입니다. 저는 웹 서비스 개발을 담당했으며 주로 java 기반
                    백엔드
                    프레임워크를
                    다루고 있습니다. 모든 서비스의 결과는 개발을 하는 '개발자'로부터 시작된다고 생각합니다. 그렇기때문에 나 자신의
                    개발을
                    통해
                    더욱 더
                    원하는
                    결과에 도달하고자 노력하며, 같은 자리에 머무르지 않고 나아가려 합니다.</p>
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="info-list">
                    <ul>
                        <li>
                            <span class="title">NAME</span>
                            <span class="value">김지니(Jini, kim)</span>
                        </li>
                        <li>
                            <span class="title">BIRTHDAY</span>
                            <span class="value">1991. 08. 02</span>
                        </li>

                        <li>
                            <span class="title">PHONE</span>
                            <span class="value">+82 2267 4429</span>
                        </li>

                        <li>
                            <span class="title">EMAIL</span>
                            <span class="value">jjjn0211@gmail.com</span>
                        </li>

                        <li>
                            <span class="title">ADDRESS</span>
                            <span class="value">Seo-gu, Daejeon</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Personal Information -->

        <div class="white-space-30"></div>

        <!-- Education start-->
        <div class="row">
            <div class="col-xs-12 col-sm-7">

                <div class="block-title">
                    <h3>Experience</h3>
                </div>

                <div class="timeline timeline-second-style clearfix">
                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">2022.08 - ing</h5>
                            <span class="item-company">NELDIT</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">포인트 거래 시스템</h4>
                            <p>포인트 이체, 선물 등 포인트 관리 시스템</p>
                        </div>
                    </div>

                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">2022.05 - 2022.08</h5>
                            <span class="item-company">NELDIT</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">게임 아이템 거래 시스템</h4>
                            <p>낚시 게임 아이템 구매 및 거래 사이트 (일반아이템, NFT아이템, 보상아이템 구매 및 거래)
                            </p>
                        </div>
                    </div>

                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">2022.01 - 2022.04</h5>
                            <span class="item-company">NELDIT</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">NFT 거래 시스템 개발</h4>
                            <p>NFT(대체불가능한 토큰) 구매자와 판매자를 위한 거래 마켓플레이스 제작</p>
                        </div>
                    </div>

                </div>

                <div class="white-space-50"></div>

                <div class="block-title">
                    <h3>Education & Personal Project</h3>
                </div>

                <div class="timeline timeline-second-style clearfix">
                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">2022.09 - 2022.10</h5>
                            <span class="item-company">인프런</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">Flutter3.0 앱개발 강의</h4>
                            <p>10개의 프로젝트로 오늘 초보 탈출!</p>
                        </div>
                    </div>

                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">2022.04 - 2022.07</h5>
                            <span class="item-company">NELDIT</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">코인 거래 지갑 리팩토링</h4>
                            <p>Klytn 기반의 가상자산(암호화폐)을 보관, 송금, 관리 할 수 있는 지갑</p>
                        </div>
                    </div>

                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">2021.02 - 2021.08</h5>
                            <span class="item-company">그린컴퓨터학원 대전점</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">디지터컨버전스/디지털뉴딜 인재양성</h4>
                            <p>자바(JAVA) & 파이썬 개발자 실무과정</p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Skills & Certificates -->
            <div class="col-xs-12 col-sm-5">
                <!-- Design Skills -->
                <div class="block-title">
                    <h3>
                        <span>Skills</span>
                    </h3>
                </div>

                <div class="skills-info skills-second-style">
                    <!-- Skill 1 -->
                    <div class="skill clearfix">
                        <h4>HTML5</h4>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container skill-4">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 1 -->

                    <!-- Skill 2 -->
                    <div class="skill clearfix">
                        <h4>CSS3</h4>
                        <div class="skill-value">85%</div>
                    </div>
                    <div class="skill-container skill-6">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 2 -->

                    <!-- Skill 4 -->
                    <div class="skill clearfix">
                        <h4>JavaScript</h4>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container skill-4">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 4 -->

                    <!-- Skill 4 -->
                    <div class="skill clearfix">
                        <h4>jQuery</h4>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container skill-4">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 4 -->

                    <!-- Skill 3 -->
                    <div class="skill clearfix">
                        <h4>Java</h4>
                        <div class="skill-value">95%</div>
                    </div>
                    <div class="skill-container skill-1">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 3 -->

                    <!-- Skill 4 -->
                    <div class="skill clearfix">
                        <h4>PHP</h4>
                        <div class="skill-value">85%</div>
                    </div>
                    <div class="skill-container skill-6">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 4 -->

                    <!-- Skill 4 -->
                    <div class="skill clearfix">
                        <h4>Mysql</h4>
                        <div class="skill-value">95%</div>
                    </div>
                    <div class="skill-container skill-1">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 4 -->

                    <!-- Skill 4 -->
                    <div class="skill clearfix">
                        <h4>Git</h4>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container skill-4">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 4 -->

                    <!-- Skill 4 -->
                    <div class="skill clearfix">
                        <h4>Adobe Photoshop</h4>
                        <div class="skill-value">85%</div>
                    </div>
                    <div class="skill-container skill-6">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 4 -->

                </div>
                <!-- End of Design Skills -->

                <div class="white-space-10"></div>

                <div class="block-title">
                    <h3>Knowledges</h3>
                </div>

                <ul class="knowledges">
                    <li>Flutter</li>
                </ul>

            </div>
            <!-- End of Knowledges -->
        </div>
        <!-- Education end-->
    </div>
</section>
<!-- End of About Me Subpage -->