<!-- Portfolio Subpage -->
<section data-id="portfolio" class="animated-section">
    <div class="section-content">
        <div class="page-title">
            <h2>Portfolio</h2>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="blog-masonry one-columns clearfix">

                    <!-- Blog Post 1 -->
                    <div class="item post-1">
                        <div class="blog-card btn-open-popup" data-idx="4">
                            <div class="post-info">

                                <h4 class="blog-item-title portfolio_title">
                                    <i class="fa fa-arrow-circle-right"></i> 포인트 관리 시스템
                                </h4>
                                <p>포인트 충전, 이체, 선물 , 제휴처 적립을 위한 포인트 관리 시스템</p>
                            </div>
                        </div>
                    </div>
                    <!-- End of Blog Post 1 -->

                    <div class="item post-1">
                        <div class="blog-card btn-open-popup" data-idx="2">
                            <div class="post-info">

                                <h4 class="blog-item-title portfolio_title">
                                    <i class="fa fa-arrow-circle-right"></i>
                                    게임 아이템 거래 시스템
                                </h4>
                                <p>낚시 게임 아이템 구입 및 거래 사이트 (일반아이템, NFT아이템, 보상아이템 구입 및 거래)</p>

                            </div>
                        </div>
                    </div>

                    <div class="item post-1">
                        <div class="blog-card btn-open-popup" data-idx="1">
                            <div class="post-info">

                                <h4 class="blog-item-title portfolio_title">
                                    <i class="fa fa-arrow-circle-right"></i> NFT 거래 시스템 개발
                                </h4>
                                <p>NFT(대체불가능한 토큰) 구매자와 판매자를 위한 거래 마켓플레이스 제작</p>

                            </div>
                        </div>
                    </div>

                    <div class="item post-1">
                        <div class="blog-card btn-open-popup" data-idx="3">
                            <div class="post-info">

                                <h4 class="blog-item-title portfolio_title">
                                    <i class="fa fa-arrow-circle-right"></i> 코인 거래 지갑 리팩토링
                                </h4>
                                <p>Klytn 기반의 가상자산(암호화폐)을 보관, 송금, 관리 할 수 있는 지갑</p>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- End of Portfolio Subpage -->

<script>

    $('.btn-open-popup').click(function () {
        let idx = $(this).data("idx");
        /*  if (idx == 4) {
              return;
          }*/
        const modal = document.querySelector('.modal_content' + idx);
        modal.style.display = 'block';
    })

    $('.modal_close').click(function () {
        $('[class^="modal_content"]').css('display', 'none');
    })

</script>