<div class="modal_content1">
    <div class="modal_body">
        <div class="content-area single-page-area">
            <div>
                <!-- /Entry header -->
                <header class="entry-header">
                    <h2 class="entry-title">NFT 거래 시스템 개발(NFT 구매자와 판매자를 위한 거래 마켓플레이스 제작)</h2>
                    <!-- /Entry header -->
                    <div class="modal_close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </header>
            </div>

            <div class="single-page-content">
                <article class="post">

                    <div class="post-thumbnail">
                        <img src="img/project/trusee.png" alt="image" class="project_img">
                    </div>

                    <div class="post-content">
                        <div class="model_sub_title">
                            <div>
                                <i class="fa fa-globe"></i>
                                <a href="https://trusee.io" class="project_url">https://trusee.io</a>
                            </div>
                            <div style="margin-left:5%;">
                                <i class="fa fa-calendar"></i>
                                <em class="modal_em">2022.01 - 2022.04</em>
                            </div>
                        </div>
                        <br>
                        <!-- Entry content -->
                        <div class="entry-content">
                            <div class="row">
                                <div class=" col-xs-12 col-sm-12 ">
                                    <div class="col-inner">

                                        <h4 class="project_title">프로젝트 설명</h4>
                                        <blockquote class="quote">
                                            NFT라고 불리우는 대체불가 토큰은 소유자의 소유권을 증명할 수 있는 디지털 자산입니다. NFT는 단순히 거래 내역만이 아닌, 소유권 및
                                            판매
                                            이력 등 디지털 자산 자체에 대한 정보를 블록체인에 저장하기 때문에 최초 발행자를 언제든지 확인할 수 있어 위변조가 불가능합니다. 또한,
                                            각
                                            NFT에는 고유의 식별 값이 할당되어 중복으로 만들 수 없기 때문에 복제가 불가능하다는 장점이 있습니다. 따라서 고유의 일련번호를
                                            부여하는
                                            NFT 기술을 적용하면 세상에 단 하나뿐인 디지털 아이템을 만들거나 한정된 수량의 NFT를 발행하여 희소성을 부여할 수 있습니다. 본
                                            프로젝트는 이러한
                                            NFT의 특성을 이용하여 나만의 디지털자산을 발행하고, 디지털 자산의 판매 및 구매 활동을 위한 거래 마켓플레이스 입니다.
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">기술 스택</h4>
                                        <blockquote class="quote">
                                            #Javaㅤㅤ#Spring Bootㅤㅤ#MySQLㅤㅤ#CSSㅤㅤ#JavaScriptㅤㅤ#Jqueryㅤㅤ#SVNㅤㅤ#AWS ec2
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">팀</h4>
                                        <blockquote class="quote">
                                            #백엔드 4명ㅤㅤ#프론트 1명ㅤㅤ#디자이너 1명
                                            <br>
                                            저는 이번 프로젝트에서, 백엔드 포지션으로 관리자 페이지 및 사용자페이지 등급 시스템을 구현했습니다.
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">후기</h4>
                                        <blockquote class="quote">
                                            회사에서의 첫 프로젝트이기도 하고 잘 알지못하는 블록체인 관련 시스템이여서 잘 할 수 있을지 걱정이 많이 되었지만, 전체적인 플로우를
                                            이해하기
                                            위해 틈틈이 블록체인에 대해 공부하면서 기본지식을 쌓았고 조금 더 완성도 있는 프로젝트를 위해 예외처리에 신경을 많이 쓰면서
                                            구현하였습니다.
                                            이로 인해 예외처리에 대한 중요성과 사용방법에 대해 조금 더 이해하게 되는 시간들을 가질 수 있었습니다.
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Entry content -->

                        <div class="entry-meta entry-meta-bottom">
                            <div class="date-author">
                                <span class="entry-date">
                                    <a href="#" rel="bookmark">
                                        <i class="far fa-clock"></i>
                                        <span class="entry-date">2022.04</span>
                                    </a>
                                </span>
                                <span class="author vcard">
                                    <a class="url fn n" href="#" rel="author">
                                        <i class="fas fa-user"></i>
                                        Genie</a>
                                </span>
                            </div>

                            <!-- Share Buttons -->
                            <div class="entry-share btn-group share-buttons">
                                <a href="https://github.com/08genie"
                                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                    class="btn" target="_blank" title="Share on Facebook">
                                    <i class="fab fa-github"></i>
                                </a>

                                <a href="https://08genie.github.io"
                                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                    class="btn" target="_blank" title="Share on Twitter">
                                    <i class="fab fa-blogger"></i>
                                </a>

                                <a href="#"
                                    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                                    class="btn" title="Share on LinkedIn">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <!-- /Share Buttons -->
                        </div>

                        <div class="post-tags">
                            <div class="tags">
                                <a rel="tag">첫번째 프로젝트</a>
                                <a rel="tag">예외처리</a>
                                <a rel="tag">중요</a>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="modal_content2">
    <div class="modal_body">
        <div class="content-area single-page-area">
            <!-- /Entry header -->
            <header class="entry-header">
                <h2 class="entry-title">게임 아이템 거래 시스템(낚시 게임 아이템 구매 및 거래 사이트)</h2>
                <div class="modal_close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </header>
            <!-- /Entry header -->

            <div class="single-page-content">
                <article class="post">

                    <div class="post-thumbnail">
                        <img src="img/project/grandfisher.png" alt="image" class="project_img">
                    </div>

                    <div class="post-content">
                        <div class="model_sub_title">
                            <div>
                                <i class="fa fa-globe"></i>
                                <a href="http://grandfisher.game" class="project_url">http://grandfisher.game</a>
                            </div>
                            <div style="margin-left:5%;">
                                <i class="fa fa-calendar"></i>
                                <em class="modal_em">2022.05 - 2022.08</em>
                            </div>
                        </div>
                        <br>
                        <!-- Entry content -->
                        <div class="entry-content">
                            <div class="row">
                                <div class=" col-xs-12 col-sm-12 ">
                                    <div class="col-inner">

                                        <h4 class="project_title">프로젝트 설명</h4>
                                        <blockquote class="quote">
                                            기존에 오픈했던 낚시 게임을 NFT와 접목하여 아이템 거래 웹사이트를 제작하였습니다. 게임에 필요한 아이템을 구매해 게임 내에서 사용 할
                                            수
                                            있으며 , 나의 아이템을 판매 할 수도 있습니다. 또한 해당 웹사이트와 카이카스 지갑 또는 메타마스크 지갑을 연동 하여 내가 구매한
                                            아이템을
                                            연결된 지갑으로 내보낼 수 있고 타 NFT 사이트에서 판매 가능하도록 구현하였습니다.
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">기술 스택</h4>
                                        <blockquote class="quote">
                                            #PHPㅤㅤ#MySQLㅤㅤ#CSSㅤㅤ#JavaScriptㅤㅤ#Jqueryㅤㅤ#GitLabㅤ
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">팀</h4>
                                        <blockquote class="quote">
                                            #백엔드 3명ㅤㅤ#프론트 & 디자인 1명ㅤㅤ
                                            <br>
                                            저는 이번 프로젝트에서, 백엔드 포지션으로 사용자페이지 klaytn,ethereum 지갑 연동 및 소유권이전, 아이템 보상 , 번역
                                            기능을
                                            구현했습니다.
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">후기</h4>
                                        <blockquote class="quote">
                                            블록체인 서적도 사서 틈틈이 읽어보고 구글링도 열심히 해보았지만 블록체인 개발에 관한 정보가 많지 않아 구현하는 데에 있어서 많은
                                            어려움을
                                            겪었습니다. 하지만 포기 하지 않고 계속적인 시도 끝에 원하는 결과로 잘 마무리 할 수 있었고 프로젝트를 하는 기간 동안 어려웠던 만큼
                                            해냈을
                                            때의 성취감이 커서 흥미를 가지고 재미있게 했던 프로젝트였습니다.
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Entry content -->

                        <div class="entry-meta entry-meta-bottom">
                            <div class="date-author">
                                <span class="entry-date">
                                    <a href="#" rel="bookmark">
                                        <i class="far fa-clock"></i>
                                        <span class="entry-date">2022.04</span>
                                    </a>
                                </span>
                                <span class="author vcard">
                                    <a class="url fn n" href="#" rel="author">
                                        <i class="fas fa-user"></i>
                                        Genie</a>
                                </span>
                            </div>

                            <!-- Share Buttons -->
                            <div class="entry-share btn-group share-buttons">
                                <a href="https://github.com/08genie"
                                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                    class="btn" target="_blank" title="Share on Facebook">
                                    <i class="fab fa-github"></i>
                                </a>

                                <a href="https://08genie.github.io"
                                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                    class="btn" target="_blank" title="Share on Twitter">
                                    <i class="fab fa-blogger"></i>
                                </a>

                                <a href="#"
                                    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                                    class="btn" title="Share on LinkedIn">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <!-- /Share Buttons -->
                        </div>

                        <div class="post-tags">
                            <div class="tags">
                                <a rel="tag">블록체인</a>
                                <a rel="tag">성취감</a>
                                <a rel="tag">흥미</a>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="modal_content3">
    <div class="modal_body">
        <div class="content-area single-page-area">
            <!-- /Entry header -->
            <header class="entry-header">
                <h2 class="entry-title">코인 거래 지갑 리팩토링(Klytn 기반의 가상자산(암호화폐)을 보관, 송금, 관리 할 수 있는 지갑)</h2>
                <div class="modal_close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </header>
            <!-- /Entry header -->

            <div class="single-page-content">
                <article class="post">

                    <div class="post-thumbnail">
                        <img src="img/project/klock.png" alt="image" class="project_img">
                    </div>

                    <div class="post-content">
                        <div class="model_sub_title">
                            <div>
                                <i class="fa fa-globe"></i>
                                <a href="#" class="project_url">호스팅 예정</a>
                            </div>
                            <div style="margin-left:5%;">
                                <i class="fa fa-calendar"></i>
                                <em class="modal_em">2022.04 - 2022.07</em>
                            </div>
                        </div>
                        <br>
                        <!-- Entry content -->
                        <div class="entry-content">
                            <div class="row">
                                <div class=" col-xs-12 col-sm-12 ">
                                    <div class="col-inner">

                                        <h4 class="project_title">프로젝트 설명</h4>
                                        <blockquote class="quote">
                                            이 프로젝트는 기존 회사 프로젝트 코드를 리팩토링 한 것으로 klaytn 기반의 코인들을 모두 주고 받을 수 있는 기능을 가진
                                            웹앱입니다.
                                            klaytn 기반의 대표 지갑인 카이카스에서는 사용자가 보유한 NFT의 목록을 볼 수 없다는 점이 아쉬워 본 프로젝트에서는 현재 연결되어
                                            있는 카이카스
                                            지갑의 특정 컨트랙트 NFT 리스트를 출력하는 기능을 추가하였습니다.
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">기술 스택</h4>
                                        <blockquote class="quote">
                                            #javaㅤㅤ#Spring Bootㅤㅤ#CSSㅤㅤ#JavaScriptㅤㅤ#Jqueryㅤㅤ#Githubㅤ
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">팀</h4>
                                        <blockquote class="quote">
                                            #백엔드 2명
                                            <br>
                                            저는 이번 프로젝트에서, 관리자 페이지 및 사용자페이지 로그인 , 공지사항 , NFT 리스트 출력 기능을 구현했습니다.
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">후기</h4>
                                        <blockquote class="quote">
                                            리팩토링인 만큼 먼저 짜여진 코드를 보며 상대방의 코드에 대해서도 분석하고 그안에서 배울 점이 많았던 것 같고 가독성과 유지 보수성을
                                            높이기 위해 중복을 제거하고 기능별로 코드를 잘 분리 할 수 있도록 노력하였습니다.
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Entry content -->

                        <div class="entry-meta entry-meta-bottom">
                            <div class="date-author">
                                <span class="entry-date">
                                    <a href="#" rel="bookmark">
                                        <i class="far fa-clock"></i>
                                        <span class="entry-date">2022.04</span>
                                    </a>
                                </span>
                                <span class="author vcard">
                                    <a class="url fn n" href="#" rel="author">
                                        <i class="fas fa-user"></i>
                                        Genie</a>
                                </span>
                            </div>

                            <!-- Share Buttons -->
                            <div class="entry-share btn-group share-buttons">
                                <a href="https://github.com/08genie"
                                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                    class="btn" target="_blank" title="Share on Facebook">
                                    <i class="fab fa-github"></i>
                                </a>

                                <a href="https://08genie.github.io"
                                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                    class="btn" target="_blank" title="Share on Twitter">
                                    <i class="fab fa-blogger"></i>
                                </a>

                                <a href="#"
                                    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                                    class="btn" title="Share on LinkedIn">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <!-- /Share Buttons -->
                        </div>

                        <div class="post-tags">
                            <div class="tags">
                                <a rel="tag">리팩토링</a>
                                <a rel="tag">가독성</a>
                                <a rel="tag">유지보수</a>
                                <a rel="tag">코드분석</a>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>

<div class="modal_content4">
    <div class="modal_body">
        <div class="content-area single-page-area">
            <!-- /Entry header -->
            <header class="entry-header">
                <h2 class="entry-title">포인트 거래 시스템(포인트 이체, 선물 등 포인트 관리 시스템)</h2>
                <div class="modal_close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </header>
            <!-- /Entry header -->

            <div class="single-page-content">
                <article class="post">

                    <div class="post-thumbnail">
                        <img src="img/project/grandfisher.png" alt="image" class="project_img">
                    </div>

                    <div class="post-content">
                        <div class="model_sub_title">
                            <div>
                                <i class="fa fa-globe"></i>
                                <a href="#" class="project_url">프로젝트 진행</a>
                            </div>
                            <div style="margin-left:5%;">
                                <i class="fa fa-calendar"></i>
                                <em class="modal_em">2022.08 - ing</em>
                            </div>
                        </div>
                        <br>
                        <!-- Entry content -->
                        <div class="entry-content">
                            <div class="row">
                                <div class=" col-xs-12 col-sm-12 ">
                                    <div class="col-inner">

                                        <h4 class="project_title">프로젝트 설명</h4>
                                        <blockquote class="quote">

                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">기술 스택</h4>
                                        <blockquote class="quote">
                                            #javaㅤㅤ#Spring Bootㅤㅤ#CSSㅤㅤ#JavaScriptㅤㅤ#Jqueryㅤㅤ#GitLabㅤ
                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">팀</h4>
                                        <blockquote class="quote">
                                            #백엔드 2명ㅤㅤ#프론트 1명ㅤㅤ#디자인 1명
                                            <br>

                                        </blockquote>
                                        <br>
                                        <h4 class="project_title">후기</h4>
                                        <blockquote class="quote">

                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Entry content -->

                        <div class="entry-meta entry-meta-bottom">
                            <div class="date-author">
                                <span class="entry-date">
                                    <a href="#" rel="bookmark">
                                        <i class="far fa-clock"></i>
                                        <span class="entry-date">2022.04</span>
                                    </a>
                                </span>
                                <span class="author vcard">
                                    <a class="url fn n" href="#" rel="author">
                                        <i class="fas fa-user"></i>
                                        Genie</a>
                                </span>
                            </div>

                            <!-- Share Buttons -->
                            <div class="entry-share btn-group share-buttons">
                                <a href="https://github.com/08genie"
                                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                    class="btn" target="_blank" title="Share on Facebook">
                                    <i class="fab fa-github"></i>
                                </a>

                                <a href="https://08genie.github.io"
                                    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                                    class="btn" target="_blank" title="Share on Twitter">
                                    <i class="fab fa-blogger"></i>
                                </a>

                                <a href="#"
                                    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                                    class="btn" title="Share on LinkedIn">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                            <!-- /Share Buttons -->
                        </div>

                        <div class="post-tags">
                            <div class="tags">
                                <a rel="tag">리팩토링</a>
                                <a rel="tag">성취감</a>
                                <a rel="tag">흥미</a>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>