<!-- Animated Background -->
<!--style="background-image: url(img/main_bg.png);"-->
<div class="lm-animated-bg"></div>
<!-- /Animated Background -->

<!-- Loading animation -->
<div class="preloader">
    <div class="preloader-animation">
        <div class="preloader-spinner"></div>
    </div>
</div>
<!-- /Loading animation -->